.form-container {
    height: 12.5em;
}

.login_invoervelden{
    /*attributen*/
    font-size: 20px;
    padding: 5px 0;

    height: 8em;
}

#login-button {
    margin-top: 1em;
}

#geen_wachtwoord_paragraaf{
    margin-top: 3.5em;

    /*attributen*/
    font-size: 10px;
    color: grey;
}

#username-invoer {
    margin-bottom: 0.75em;
}