.button01{
    /*afmetingen*/
    width: 7em;
    height: 2.5em;

    /*attributen*/
    background-image: linear-gradient(to bottom, rgb(240,136,35) 0%, rgb(231,78,63) 51%, rgb(227,19,68) 100%);
    border-radius: 10px;
    text-transform: uppercase;

    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    /*gedrag*/
    cursor: pointer;
}

.button01:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    /*background-position: left center;*/

}

.keuzemenuknop{
    /*positie*/
    margin: 0 2em 2em -2em;

    /*afmetingen*/
    padding: 0.75em;

    /*attributen*/
    list-style-type: none;

    border-top: 2px solid rgb(100,100,100);
    border-left: 2px solid rgb(100,100,100);
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0.5em;
    box-shadow: 0.3em 0.4em 1.2em black;
    background-color: rgb(230,230,230);

    font-family: "Helvetica Neue" ,sans-serif;
    text-transform: uppercase;
    font-weight: bold;

    /*gedrag*/
    cursor: pointer;

}

.keuzemenuknop:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#keuzemenuknop_accountsettings{
    margin: 0 2em 1em 2em;
}

/*Scrollbar*/
::-webkit-scrollbar{
    width: 0.5em;
}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb{
    background: orange;
    border-radius: 80px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(227,19,68)
}

/*kleurenpalet:
   orange: rgb(240,136,35)
   middle: rgb(231,78,63)
   red/purplish: rgb(227,19,68)

   orange: rgba(240,136,35,255)
   middle: rgba(231,78,63,255)
   red/purplish: rgba(227,19,68,255)

 */