/*COMPETITIE CREATOR*/
.formulier {
    margin: 2em auto;
    width: 100%;
}

.creator_invoerveldcontainer {
    height: 16em;
}

input{
    height: 2em;
    margin: 3px;
    width: 13em;
}

#Competitienaam_input{

}
#team_deelnemers_input{
    width: 13.6em;
    height: 2.5em;
}
#extraDeelnemers_input{
    width: 10em;
}
#startmoment_input{
    width: 13.3em;
}
#raceAantal_input{

}
#tijdAantal_input{
    width: 3em;
}
#tijdseenheid_input{
    height: 2.5em;
    width: 5.2em;
}

#button_addPlayer{
    width: 2.8em;
    margin-right: 0.25em;
}


/*COMPETITIEUITSLAG*/
.tabel{
    /*Positie*/
    margin: auto;

    /*Attributen*/
    border: 2px solid black;
    border-bottom: none;
}

.tabelheaders{
    border-bottom: 2px solid black;
    font-weight: bolder;
    border-width: 3px;
}

#positieCel{
    border-right: 2px solid black;

}
#positieCel2{
    border-right: 2px solid black;
    border-left: 2px solid black;
}

#positieWaarde{
    border-right: 2px solid black;
}

.tableRow1{
    border-bottom: 2px solid black;
    font-weight: bold;
}
.tableRow2{
    border-bottom: 2px solid black;
    border-left: 2px solid black;

}
#input_voorspelling{
    width: 1.5em;
    border-bottom: 2px solid black;
}
.competitieMenuContainer{
    margin: auto;

    height: 17em;
    width: 100%;
    overflow: auto;

}

.competitieMenuInhoudContainer{
    border: 2px solid black;
    width: 22em;
    margin: auto auto 1em auto;
}

.competitieMenuContent{
    display: flex;
}

.uitklapbare_pijl_ingeklapt{
    margin-left: 1em;
}
.uitklapbare_pijl_uitgeklapt{
    margin-left: 1em;
    transform: rotate(90deg);
}

.titel_CompetitieMenuContent{
    margin-left: 3em;
    margin-top: 1em;
}

#competitieSelecteren{
    margin-bottom: 1em;
}

#competitieSelecteren:hover {
    box-shadow: 0 0 0 0;
}

.competitieLijstContainer {
    height: 17em;

    margin: auto;
    overflow: auto;
}

