.background {
    /*content*/
    background-image: url("../../resources/background.jpg");

    /*Positie*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*attributen*/
    text-align: center;
}

.outer_content_container{
    /*positie*/
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 0;

    /*afmetingen*/
    width: 25em;
    height: 35em;
    max-width: 25em;
    max-height: 35em;

    /*attributen*/
    border-radius: 25px;
    background-color: White;
}

.inner_content_container{
    /*positie*/
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /*afmetingen*/
    width: 24em;
    height: 34em;
    max-width: 24em;
    max-height: 34em;

    /*attributen*/
    border: solid black 2px;
    border-radius: 1em;
}

.novi-logo {
    /*positie*/
    margin-top: 0.5em;
    margin-bottom: 0.4em;

    /*afmetingen*/
    height: 8rem;
    /*border: 2px solid black;*/
    border-radius: 5em;
    box-shadow: 0.3em 0.7em 1.2em black;
}

.alternating_content_container{
    /*positie*/
    margin-left: -2px;

    /*afmetingen*/
    height: 24.6em;
    width: 24em;

    /*attributen*/
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;

    /*TIJDELIJK*/
    border: 2px solid black;
}