.competitieLijstContainer {
    height: 17em;
    max-height: 17em;

    margin: auto;
    overflow: auto;
}

/*TODO: fix background image*/
/*.background_enkeleCompetitie {*/
/*    content: '';*/
/*    background-image: url("../../../resources/racevlag.jpg");*/
/*    background-size: cover;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    opacity: 0.3;*/
/*}*/


.enkeleCompetitieUitLijstContainer {
    border: 2px solid black;
    cursor: pointer;
    width: 90%;
    margin: auto;
    opacity: 1;
}


.enkeleCompetitieUitLijstContainer:hover {
    box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}