.background {
  /*content*/
  background-image: url("../../resources/placeholder.png");

  /*Positie*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /*attributen*/
  text-align: center;
}

.content_container{
  /*positie*/
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;

  z-index: 0;

  /*afmetingen*/
  width: 25em;
  height: 35em;
  max-width: 25em;
  max-height: 35em;

  /*attributen*/
  border: solid black 2px;
  border-radius: 25px;

  /*TIJDELIJK*/
  background-color: White;
}

.novi-logo {
  /*positie*/
  margin-top: -7.5em;

  /*afmetingen*/
  height: 15rem;
}

.alternating_content{
  height: 22em;
  width: 24em;
  margin: auto;

  border: 2px solid black;
}
