.keuzemenuknop{
    /*positie*/
    margin: 2em 2em;

    /*afmetingen*/
    padding: 0.75em;

    /*attributen*/
    border: 2px solid black;
    border-radius: 5em;
    box-shadow: 0.3em 0.4em 1.2em black;
    background-image: linear-gradient(to bottom, rgb(240,136,35) 0%, rgb(231,78,63) 50%, rgb(227,19,68) 100%);

    color: white;
    font-family: "Helvetica Neue" ,sans-serif;
    text-transform: uppercase;
    font-weight: bold;

    /*gedrag*/
    cursor: pointer;

}

.keuzemenuknop:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#keuzemenu_01{

}

#keuzemenu_02{

}

#keuzemenu_03{

}



/*
orange: rgba(240,136,35,255)
middle: rgba(231,78,63,255)
red/purplish: rgba(227,19,68,255)
*/