/*COMPETITIE CREATOR*/
.formulier {
    margin: 2em auto;
    width: 100%;
}

.creator_invoerveldcontainer {
    height: 16em;
    max-height: 17em;
}

input{
    height: 2em;
    margin: 3px;
    width: 13em;
}

#Competitienaam_input{

}
#team_deelnemers_input{
    width: 13.6em;
    height: 2.5em;
}
#extraDeelnemers_input{
    width: 10em;
}
#startmoment_input{
    width: 13.3em;
}
#raceAantal_input{

}
#tijdAantal_input{
    width: 3em;
}
#tijdseenheid_input{
    height: 2.5em;
    width: 5.2em;
}

#button_addPlayer{
    width: 2.8em;
    margin-right: 0.25em;
}


/*COMPETITIEUITSLAG*/
.tabel{
    /*Positie*/
    margin: auto;

    /*Attributen*/
    border: 2px solid black;
    border-bottom: none;
}

.tabelheaders{
    border-bottom: 2px solid orange;
}

#positieCel{
    border-right: 2px solid orange;
}

#positieWaarde{
    border-right: 2px solid blue;
}

.tableRow{
    border-bottom: 2px solid blue;
}

.competitieMenuContainer{
    margin: auto;

    height: 17em;
    max-height: 17em;
    width: 100%;
    overflow: auto;

    border: 2px solid purple;
}

.competitieMenuInhoudContainer{
    border: 2px solid black;
}

.competitieMenuContent{
    display: flex;
}

.uitklapbare_pijl{
    margin-left: 1em;
}

.titel_CompetitieMenuContent{
    margin-left: 3em;
    margin-top: 1em;
}
