.formulier {
    border: 2px solid black;
    width: 100%;
}

/*COMPETITIE CREATOR*/
.creator_invoerveldcontainer {
    height: 17em;
}

input{
    height: 2em;
    margin: 3px;
}


/*COMPETITIEUITSLAG*/
.tabel{
    /*Positie*/
    margin: auto;

    /*Attributen*/
    border: 2px solid black;
    border-bottom: none;
}

.tabelheaders{
    border-bottom: 2px solid orange;
}

#positieCel{
    border-right: 2px solid orange;
}

#positieWaarde{
    border-right: 2px solid blue;
}

.tableRow{
    border-bottom: 2px solid blue;
}

.tabelContainer{
    margin: auto;

    height: 17em;
    max-height: 17em;
    overflow: auto;

    border: 2px solid purple;
}

